<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tr.gov.saglik.uets">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.welcome.WelcomeActivityViewImpl"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".view.login.LoginActivityViewImpl"/>
        <activity android:name=".view.demands.DemandsActivityViewImpl"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Talepler"/>
        <activity android:name=".view.register.RegisterActivityViewImpl"/>

        <activity android:name=".view.demandsDetail.DemandsDetailActivityViewImpl"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Talepler Detay"/>

        <activity android:name=".view.notifications.NotificationsActivityViewImpl"/>
        <activity android:name=".view.announcements.AnnouncementsActivityViewImpl"/>
        <activity android:name=".view.profil.ProfilActivityViewImpl"/>
        <activity android:name=".view.profil.userInfo.UserInfoActivityViewImpl"/>
        <activity android:name=".view.profil.privacy.PrivacyActivityViewImpl"/>
        <activity android:name=".view.profil.demandsRecommendations.DemandsAndRecommendationsActivityViewImpl"/>
        <activity android:name=".view.profil.demandsRecommendations.NewDemandsAndRecommendationActivityViewImpl"/>
        <activity android:name=".view.documents.DocumentsActivityViewImpl"/>
        <activity android:name=".view.documents.documentsDetail.DocsDetailActivityImpl"/>
        <activity android:name=".view.decisions.DecisionsActivityViewImpl"/>
        <activity android:name=".view.decisions.decisionDetail.DecisionDetailActivityImpl"/>
        <activity android:name=".view.studentsReport.StudentReportActivityViewImpl"/>
        <activity android:name=".view.programs.ProgramsActivityViewImpl"/>
        <activity android:name=".view.curriculum.CurriculumActivityViewImpl"/>
        <activity android:name=".view.studentsReport.bitirmeSinavi.BitirmeSinaviActivityViewImpl"/>

    </application>

</manifest>